<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SideMenuExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E85502E1C16D29000D3BC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8550471C16D29000D3BC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E8550521C16D29100D3BC7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
